<template name="About">

<!-- Sidebar -->
		{{> sidebar}}
<!-- /#sidebar-wrapper -->
<!-- Page Content -->
<div class="container">
	<div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-image">
              <img src="/img/other/about_us.png">

            </div>
            <div class="card-content">
              <p>
								Zoom into Paris is a curated guide to non-touristic places in Paris.
								Forever Curious. Always exploring. We created Zoom into Paris to inspire
								creativity among those traveling to explore the vibrant, historic, and artistic
								region that is Paris. <br>
								<h6> <strong> Get in touch </strong> </h6>
								We’d love to hear from you if you have any comments about Zoom into Paris,
								if you’d like to collaborate or even if you have a hotspot that you really
								want to tell us about! Email us at zip@pratiquish.info
              </p>
            </div>
          </div>
        </div>
      </div>

<!-- /#page-content-wrapper -->
</div>

</template>
