<template name="1">
  <p>
      The Catacombs of Paris or Catacombes de Paris are underground ossuaries in Paris. Located south of the former
      city gate (Place Denfert-Rochereau), the ossuaries hold the remains of about six million people and fill a
      renovated section of caverns and tunnels that are the remains of historical stone mines, giving it its reputation
      as "The World's Largest Grave".
  </p>

  <p>
   1 Avenue du Colonel Henri Rol-Tanguy, <br>
   75014 Paris <br>
   <strong> Website: </strong> http://www.catacombes.paris.fr/ <br>
   <strong> Metro: </strong> M6 - Saint-Jacques, M4 - Mouton-Duvernet <br>
   <strong> Hours: </strong> <br>
   Monday to Sunday 10:00 am – 8:00 pm
  </p>

</template>

<template name="2">
  <p>
    The Wall of Love is a love-themed 40 square metres (430 sq ft) wall in the Jehan Rictus garden square in Montmartre, Paris.
    The wall was created in 2000 by calligraphist Fédéric Baron and mural artist Claire Kito and is composed of 612 tiles of enamelled lava,
    on which the phrase "I love you" is featured 311 times in 250 languages. Each tile is 21 by 29.7 centimetres (8.3 in × 11.7 in).
    The red splashes on the wall symbolize parts of a broken heart. The wall is open to public free of charge.
  </p>

  <p>
   10 Rue André Barsacq <br>
   75018 Paris <br>
   <strong> Metro: </strong> M12 - Abbesses <br>
  </p>

</template>

<template name="3">
  <p>
    Père Lachaise is in the 20th arrondissement and is notable for being the first garden cemetery, as well as the first municipal cemetery.
    It is also the site of three World War I memorials. Packed tight over 110 acres, Père Lachaise has been the final resting place of hundreds
    of notable historical figures including Molière, Oscar Wilde, Gertrude Stein, Chopin, Edith Piaf, and Jim Morrison of The Doors.
  </p>


  <p>
   16 Rue du Repos, <br>
   75020 Paris <br>
   <strong> Metro: </strong> M2, M3 - Père Lachaise <br>
   <strong> Hours: </strong> <br>
   Monday - Friday 8:00 am – 6:00 pm <br>
   Saturday 8:30 am – 6:00 pm <br>
   Sunday 9:00 am – 6:00 pm <br>
  </p>
</template>

<template name="4">
  <p>
    One of Paris' oldest streets, Rue Montorgueil is a vibrant, cheery quarter bursting with some of the city's finest food markets and pastry shops.
    This district gives a picture of how Paris manages to be resolutely modern while preserving traditions such as family-owned fishmongers,
    cheese shops, and brasserie-bars.
  </p>
  <p>
  <strong> Metro: </strong> M4 - Étienne Marcel or Les Halles <br>
  </p>
</template>

<template name="5">
  <p>
    Did you know that you can visit the sewers of Paris? Musee des égouts de Paris is a fascinating tour of the Parisian sewer system.
    The sewer is the size of entire city and you are only allowed to visit a part but you will see that that Paris is an old city above
    and below the ground. This interesting visit will show you the history of the city in a way you won’t learn in class.
  </p>

  <p>
  Pont de l'Alma, <br>
  75007 Paris <br>
  <strong> Website: </strong> http://www.parismuseumpass.com/musee-visite-publique-des-egouts-de-paris-23.htm <br>
  <strong> Metro: </strong> M9- Alma - Marceau <br>
  <strong> RER: </strong>RER C - Pont de l'Alma <br>
  <strong> Hours: </strong> <br>
  Monday to Wednesday 11:00 am – 5:00 pm <br>
  Thursday - Friday Closed <br>
  Saturday - Sunday 11:00 am – 5:00 pm <br>
  </p>
</template>

<template name="6">
  <p>
    Have you seen 'Amélie', Jean-Pierre Jeunet's 2001 blockbuster? It was the Canal St-Martin's iron footbridges and tree-shaded quays
    that formed the backdrop for some of the film's most atmospheric scenes. Nowadays, this ever-gentrifying, 19th-century waterway draws a trendy
    crowd to its shabby-chic bars and appetizing bistros. Heading north along the Canal, the must-see den of multidisciplinary artistic creation is
    Point Ephemère. From here the Canal widens into the Bassin de la Villette and Canal de l'Ourcq.
  </p>
  <p>
  <strong> Metro: </strong> M5 - Jacques Bonsergent, M7 - Gare de l’Est or Château-Landon <br>
  </p>
</template>

<template name="7">
  <p>
    A few steps from the Gare de Lyon, rue Cremieux is one of the most beautiful and unusual street of Paris.
    With its colorful facades, murals and trompe l’oeil, it is just a wonderful place, and a treasure for photographers.
  </p>

  <p>
  <strong> Metro: </strong> M1, M14 - Paris Gare de Lyon; M5, M8 - Bastille <br>
  </p>
</template>

<template name="8">
  <p>
    Rue Oberkampf, better known by Parisians to be a “drinking street”, hides many secrets. Among them, the Cité Durmar,
    a pretty small dead-end bordered by workshops more or less ramshackled and full of flowers. You will find all along
    the rue Oberkampf many hidden courtyards, the prettiest being Cité Durmar and Cité des Figuiers. Oberkampf is a street
    full of bars and restaurants. Best places are at rue Saint-Maur corner up to rue Jean-Pierre Timbaud.
  </p>
  <p>
  <strong> Metro: </strong> M2 - Ménilmontant, M3 - Parmentier <br>
  </p>
</template>

<template name="9">
  <p>
    The Carnavalet houses about 2,600 paintings, 20,000 drawings, 300,000 engravings and 150,000 photographs, 2,000 modern sculptures
    and 800 pieces of furniture, thousands of ceramics, many decorations, models and reliefs, signs, thousands of coins, countless items,
    many of them souvenirs of famous characters, and thousands of archeological fragments. The period called Modern Time, which spans from
    the Renaissance until today, is known essentially by the vast amount of images of the city. There are many views of the streets and
    monuments of Paris from the sixteenth to the twentieth century, but there are also many portraits of characters who played a role in
    the history of the capital and works showing events which took place in Paris, especially the many revolutions which stirred the capital,
    as well as many scenes of the daily life in all the social classes
  </p>
  <p>
  16 Rue des Francs Bourgeois, <br>
  75003 Paris <br>
  <strong> Website: </strong> http://www.carnavalet.paris.fr/ <br>
  <strong> Metro: </strong> M1 - Saint-Paul, M8 - Chemin Vert <br>
  <strong> Hours: </strong> <br>
  Monday Closed <br>
  Tuesday to Sunday : 10:00 am – 6:00 pm
  </p>
</template>

<template name="10">
  <p>
    The Hotel de Sens is one of the few medieval private residences remaining in Paris, and one of the most beautiful mansions in the city.
    It was originally owned by the archbishops of Sens. The building is in between late Gothic and early Renaissance style, and now houses
    the Forney art library. It was built between 1475 and 1507.
  </p>

  <p>
  Hôtel de Sens/Bibliothèque Forney, <br>
  1 Rue du Figuier, <br>
  75004 Paris <br>
  <strong> Metro: </strong> M7 - Pont Marie <br>
  <strong> Hours: </strong> <br>
  Monday: Closed <br>
  Tuesday to Saturday 1:30 – 7:00 pm <br>
  Sunday: Closed
  </p>
</template>

<template name="11">
  <p>
    This tiny cabaret/chansonnier on the north side of Montmartre hasn't changed much since the days when unknowns such as Picasso,
    Utrillo and Matisse used to drink here and pay the bill with their artworks.
  </p>

  <p>
  22 Rue des Saules, <br>
  75018 Paris <br>
  <strong> Website: </strong> http://www.au-lapin-agile.com/ <br>
  <strong> Metro: </strong> M12 - Lamarck-Caulaincourt <br>
  </p>
</template>

<template name="12">
  <p>
    This park has something for everyone! The Parc de la Villette is the third-largest park in Paris, 35.5 hectares in area,
    located at the northeastern edge of the 19th arrondissement. The park houses one of the largest concentration of cultural
    venues in Paris, including the Cité des Sciences et de l'Industrie (City of Science and Industry), Europe's largest science museum,
    three major concert venues and the prestigious Conservatoire de Paris.
  </p>
  <p>
  211 Avenue Jean Jaurès, <br>
  75019 Paris <br>
  <strong> Metro: </strong> M5 - Porte de Pantin, M7 - Porte de la Villette <br>
  <strong> Tram: </strong> 3b - Porte de la Villette
  </p>
</template>

<template name="13">
  <p>
    One of the prettiest secrets Paris has to offer can be found just near Place de la Bastille. Away from the hustle of the city,
    many carriage porches open on to cobbled courtyards and are used by artisans to sell all kinds of lovely crafts including finely carved ornaments,
    clothing and jewellery. This is the place for a perfect Paris souvenir.
  </p>
  <p>
  26 rue Charonne, <br>
  75011 Paris <br>
  <strong> Metro: </strong> M1, M5, M8 - Bastille <br>
  </p>
</template>

<template name="14">
  <p>
    Of all the parks created in the 1860s by Baron Haussmann and his engineer Jean-Charles Alphand, this is the most Romantic with its lake, bridges,
    waterfall, giant cedars and unlikely palm trees. Pony rides and playgrounds make it perfect for kids. The lawns are pleasant for sunbathing or
    a picnic. You can also eat at the trendy bar or restaurant. The most famous feature of the park is the Temple de la Sibylle, a miniature version
    of the famous ancient Roman Temple of Vesta in Tivoli, Italy.
  </p>
  <p>
  1 Rue Botzaris, <br>
  75019 Paris <br>
  <strong> Metro: </strong> M7bis - Botzaris <br>
  </p>
</template>

<template name="15">
  <p>
    Saint-Étienne-du-Mont is a church in Paris, France, located on the Montagne Sainte-Geneviève in the 5th arrondissement, near the Panthéon.
    It contains the shrine of St. Geneviève, the patron saint of Paris. The church also contains the tombs of Blaise Pascal and Jean Racine.
    Jean-Paul Marat is buried in the church's cemetery. Joris-Karl Huysmans described it in the Connecting (1895) as one of the most beautiful
    churches in Paris.
  </p>


  <p>
  Place Sainte-Geneviève, <br>
  75005 Paris <br>
  <strong> Website: </strong> http://www.saintetiennedumont.fr/ <br>
  <strong> Metro: </strong> M10 - Cardinal Lemoine <br>
  <strong> Hours: </strong> <br>
  <strong> During school term </strong> <br>
  Thursday to Friday : 8:45 am to 7:45 pm <br>
  Saturday : 8:45 am to 12 am and 2 pm to 7:45 pm <br>
  Sunday : 8:45 am to 12:15 am and 2 pm to 7:45 pm <br>
  <strong> School holidays </strong> <br>
  from Thursday to Sunday : 10 am to 12 am and 4 pm to 7:45 pm
  </p>
</template>

<template name="16">
  <p>
    The Bassin de la Villette (La Villette Basin) is the largest artificial lake in Paris. Located in the 19th arrondissement of the capital,
    it links the Canal de l'Ourcq to the Canal Saint-Martin, and it represents one of the elements of the Réseau des Canaux Parisiens
    (Parisian Canal Network), a public-works authority operated by the city. Rectangular, eight hundred metres in length and seventy metres in width,
    it begins at the Rue de Crimée bridge, the last bridge in Paris that can be raised and lowered hydraulically to permit the passage of ship and
    barge traffic beneath it, and it ends at the Place de Stalingrad near the Rotunda de la Villette. While this destination is worth a visit any
    time of year, the summer’s month-long Paris-Plage festival is among the best reasons to make a stop.
  </p>

  <p>
  <strong> Metro: </strong> M2, M5 - Jaurès; M2, M5, M7 - Stalingrad <br>
  </p>
</template>
