<template name="Places">

			  {{#ifEsInputIsEmpty index="places"}}
					{{#each places}}
						{{> ListPlaces}}
					{{/each}}
			  {{/ifEsInputIsEmpty}}

			  {{#ifEsIsSearching index="places"}}
					<div>Loading... </div>
					{{else}}
						{{#esEach index="places"}}
							{{> ListPlaces}}
						{{/esEach}}

						{{> esLoadMoreButton index="places"}}
			  {{/ifEsIsSearching}}

			  {{#ifEsHasNoResults index="places"}}
					<div class="no-results">No results found!</div>
			  {{/ifEsHasNoResults}}


</template>

<template name="ListPlaces">

<div class="col s12 m6 l4">
   <div class="card">
    <div class="card-image">
      <img class="activator" src="{{img}}">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{title}}</span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{title}}<i class="material-icons right">close</i></span>
      {{> UI.dynamic template=pid }}
    </div>
  </div>
</div>
 </template>
