<template name="sidebar">
<!-- Navigation-Bar -->

<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper teal accent-4">
      <!-- <a href="#!" class="left">F</a> -->
      <a href="/" class="brand-logo center" style="font-family: Aspire">Zoom into Paris</a>
      <ul class="right">
        <li><a href="/" id="sidebar"><i class="material-icons">search</i></a></li>
      </ul>
      <ul class="left">
        <li><a href="/about.html"><i class="material-icons">more_vert</i></a></li>
      </ul>
    </div>
  </nav>
</div>
<!-- /#Navigation-Bar-Wrapper -->

<!-- searchbar -->
<div id="search-bar" style="display:none" class="navbar-fixed">
  <nav class="blue-grey darken-2">
  {{> esInput index="places" placeholder="Search"}}
  </nav>
</div>


<!-- /#searchbar-wrapper -->

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</template>
