<template name="Home">
<!-- Sidebar -->
  {{> sidebar}}
<!-- /#sidebar-wrapper -->

<!-- Page Content -->

    <div class="row">
      <div class="col s12">
        {{> Places}}
        <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
          <a class="btn-floating btn-large teal accent-4" id="gotop">
            <i class="material-icons">keyboard_arrow_up</i>
          </a>
        </div>
      </div>
    </div>

</template>
